.top-head{
    background-color: #5F98CD;
    color: white;
    padding: 10px;
}

.bottom-section{
    background-color: #E7E7E7;
    color: black;
    padding: 30px;
}

.add-event-btn{
    margin-top: 20px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}